---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
import Gallery from "../components/Gallery.astro"
import Header from "../components/Header.astro"
import ImageCard from "../components/ImageCard.astro"
import Statistics from "../components/Statistics.astro"
const pageTitle = "Achievements"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Business Solutions Club</title>
	</head>
	<Layout title={pageTitle}>
		<Hero slot = "heroSection", title = "OUR ACHIEVEMENTS", subtitle="", heroImage="/img/HeroAchievement.jpg", size = "60vh", scrollTarget="#nextSection"/>
		<div id = nextSection>
			<Statistics statisticsPath="../content/Statistics/Achievements.md"/>
			<Gallery galleryName="Going Global" />
			<Gallery galleryName="Leading Local" />
		</div>
	</Layout>
</html>
