---
import ContentSection from "../components/ContentSection.astro"
import CTAButton from "../components/CTAButton.astro"
import Hero from "../components/Hero.astro"
import ImageMarquee from "../components/ImageMarquee.astro"
import Layout from "../layouts/Layout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Business Solutions Club</title>
	</head>
	<Layout title="Home Page">
		<Hero slot = "heroSection", title = "MAKE YOUR CASE", subtitle="Leading Local, Going Global", preTitle="NTU Business Solutions Case Club", heroImage="/img/Hero1.jpg", size = "92vh", scrollTarget="#nextSection">
			<CTAButton slot = "ctaButton" text="Learn More" targetLink="#nextSection"/>
		</Hero>
		<div id = nextSection>
			<ContentSection contentPath = "/content/homePage" />
		</div>

		<ImageMarquee/>
	</Layout>
</html>

